<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- <link rel="icon" type="image/png" href=""> -->
        <title>
            票易融_票据交易平台_电子承兑汇票_银行承兑汇票_票据贴现
        </title>
        <style>
            #nb_icon_wrap {
                opacity: 0;
                position: absolute;
                z-index: -10;
            }
        </style>
    <link href="/static/css/login-css-37775.css" rel="stylesheet"><link href="/static/css/login-less-37775.css" rel="stylesheet"><link href="/static/css/login-37775.css" rel="stylesheet"></head>

    <body>
        <div class="page" id="App"></div>
    <script type="text/javascript" src="/static/js/manifest-ccec7.js"></script><script type="text/javascript" src="/static/js/vendor-e53f7.js"></script><script type="text/javascript" src="/static/js/login-37775.js"></script></body>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement('script');
            hm.src =
                'https://hm.baidu.com/hm.js?d1e23f128726d7549982927c24deb63a';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</html>
